{% extends "layout.html" %}
{% block content %}
<br>
<h2 class="text-3xl font-bold leading-tight text-gray-900 md:text-4xl text-center">
    🏠 Home
</h2>
    <br>
<h2 class="text-xl font-bold leading-tight text-gray-900 pb-2">
    Instrucciones
</h2>
<ol>
  <li>1. Carga varias imagenes dando click <a class="text-blue-400 hover:text-blue-500" href="/upload">aquí</a></li>
  <li>2. Realiza una búsqueda por palabra de tus fotos dando click <a class="text-blue-400 hover:text-blue-500" href="/search">aquí</a></li>
</ol>
    <p>Hola Mundo!</p>
{% endblock %}
