{% extends "layout.html" %}
{% block content %}
<br>
<h2 class="text-3xl font-bold leading-tight text-gray-900 md:text-4xl text-center">
    🏠 Home
</h2>
    <br>
    <h2 class="text-xl font-bold leading-tight text-gray-900 pb-2">
        Instrucciones
    </h2>
    <ol>
      <li>1. Carga imágenes dando click <a class="text-blue-400 hover:text-blue-500" href="/upload">aquí</a></li>
      <li>2. Busca tus fotos usando palabras dando click <a class="text-blue-400 hover:text-blue-500" href="/search">aquí</a></li>
    </ol>
    <br>
    <img src="https://cloud.google.com/images/natural-language/powerful-text-analysis.png">
    <br>
    <p>💡 Aprende más sobre este proyecto <a class="text-blue-400 hover:text-blue-500" href="https://github.com/TanZng/big-moments-gcp">aquí</a></p>

{% endblock %}
